*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f7f1f1;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.logo{
    text-decoration: none;
    color: rgb(5, 66, 134);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: rgb(5, 66, 134);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

.me{
      width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    background: url(./ezgif.com-webp-to-jpg.jpgw) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.btn-work{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.btn-work:hover{
   background-color: #497dff;
    transform: scale(1.1);
}

span{
    color: crimson;
    font-weight: 900;
    font-size: xx-large;
}

.hello{
    padding-left: 1.3em;
    color: white;
}

.icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}


section{
    padding: 100px 200px;
    
}

.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 900;
    color: rgb(5, 66, 134);
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: inline;
    background-color: #ffffff;
    width: 17em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15);
    border-radius: 10px;
   padding:25px;
   margin: 15px;
   transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon-content{
   color: rgb(5, 66, 134);
   font-size: 4.5em;
   text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: rgb(5, 66, 134);
}

.project{
    background-color: rgb(4, 1, 34);
    min-height: 100vh;
}

.project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
   padding-top: 40px;
   margin-right: 10px;
}

.project-cards{
background-color: #ffffff;
width: 16em;
min-height: 11em;
overflow: hidden;
border-radius: 10px;
transition: 0.7s ease;
border: 1px solid #fff;
margin-bottom: 10px;
}

.project-cards:hover{
    transform: scale(1.1);
   background-color: rgb(231, 223, 223);
   opacity: 90%;
}

.project-images img{
width: 100%;
height: 11em;
}

.project-info{
    padding: 0.5em;
}

strong{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 5px;
}

.span-project{
font-size: medium;
font-weight: 900;
color: black;
}

.project-info a{
    color: rgb(5, 66, 134);
    text-decoration: none;
}

.project-info a:hover{
    color: blueviolet;
}

.contact-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 2.875em;
}

.contact-card{
    margin-right: 15px;
    border: 1px solid white;
    box-shadow: 0 5px 25px rgba(1 1 1/15);
    margin: 1em;
    text-align: center;
    border-radius: 10px;
    width: 23em;
    min-height: 13em;
    transition: 0.7s ease;
}

.contact-card:hover{
transform: scale(1.1);
background-color:rgb(248, 247, 247);
}

.content-icons {
color: rgb(5, 66, 134);
font-size: 4.5em;
}



.contact h2{
    color: rgb(5, 66, 134);
    margin-bottom: 13px;
}

.contact p{
    font-size: 1.5em;
}

.footer{
    background-color:rgb(4, 1, 34) ;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    color: white;
    font-weight: 900;
}

.footer span{
    color: rgb(33, 72, 248);
    font-weight: 900;
    font-size: 1.4em;
}

footer div a{
    color: white;
    font-size: 1.5em;
    margin-right: 5px;
}

@media(max-width:675px){
 

section{
    padding: 100px 20px;
}

.project-content{
    padding:0;
}

}

@media (max-width:643px){
    header{
        padding: 0;
        justify-content: space-around;
    }

    .navigation a{
        padding: 2px;
    }
}

@media (max-width:359px){
  
    header{
        display: block;
        text-align: center;
    }
    .navigation a{
        display: none;
    }
}

